
.container{
  border: 2px solid #000;
  margin: 2em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item{
  border: 1px solid #000;
  margin: 0 0.5em;
}

.item1{
  background: violet;
  flex-grow: 1;
  order: 4;
}
.item2{
  background: salmon;
  flex-shrink: 1;
  order: 3;
}
.item3{
  background: cyan;
  flex-basis: 1em;
  order: 5;
}
.item4{
  background: lightblue;
  order: 1;
}
.item5{
  background: tomato;
  order: 2;
}